<alert></alert>
<p class="container-page">
  <mat-toolbar style="position: fixed">
    <div class="tool-side">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon style="margin-bottom: 8px">menu</mat-icon>
      </button>
      <span class="side-title">My App</span>
      <div style="margin-left: 150px">
        <h1>Account List</h1>
      </div>
      
      <button
        class="setting_account"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        #menuTrigger="matMenuTrigger"
        (mouseover)="menuTrigger.openMenu()"
      >
     
      <mat-icon>account_circle</mat-icon>
   
     
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <span (mouseleave)="menuTrigger.closeMenu()">
          <div *ngIf="!show">
          <button mat-menu-item routerLink="../edit/{{ user.id }}">
           
            <mat-icon>manage_accounts</mat-icon>
            <span>Edit User</span>
          </button></div>
        
          <button mat-menu-item (click)="logout()" routerLink="/login">
            <mat-icon color="#ba4c00">logout</mat-icon>
            <span>Log out</span>
          </button>
        </span>
      </mat-menu>
    </div>
  </mat-toolbar>
</p>
<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div ng-icon-sidebar>
      <div *ngIf="show ; else loginpass">
        <h1>Hi {{ user.displayName }}</h1>
      </div>
      <ng-template #loginpass> <h1 >Hi {{ user.username }}</h1></ng-template>
      <hr class="line" />
      <!-- Your content goes here, inside the sidebar's tag. This sample content exists for demonstration purposes. -->

      <div class="side-item">
        <a style="font-size: 18px">
          <span class="icon-container">
            <i class="material-icons" style="margin-right: 10px">mail</i>
          </span>
          Inbox
        </a>
      </div>
      <div class="side-item">
        <a style="font-size: 18px">
          <span class="icon-container">
            <i class="material-icons" style="margin-right: 10px">send</i>
          </span>
          Outbox
        </a>
      </div>
      <div class="side-item" routerLink="/chart">
        <a style="font-size: 18px" >
          <span class="icon-container" >
            <i class="material-icons" style="margin-right: 10px">favorite</i>
          </span>
          Favorites
        </a>
      </div>
      <div class="side-item" routerLink="/list">
        <a style="font-size: 18px">
          <span class="icon-container">
            <i class="material-icons" style="margin-right: 10px">group</i>
          </span>
          User List
        </a>
      </div>
      <div class="side-item">
        <a style="font-size: 18px">
          <span class="icon-container">
            <i class="material-icons" style="margin-right: 10px">archive</i>
          </span>
          Archive
        </a>
      </div>
      <hr class="line" />
      <div class="side-item">
        <a style="font-size: 18px">
          <span class="icon-container">
            <i class="material-icons" style="margin-right: 10px">delete</i>
          </span>
          Trash
        </a>
      </div>
      <div class="side-item">
        <a style="font-size: 18px">
          <span class="icon-container">
            <i class="material-icons" style="margin-right: 10px">report</i>
          </span>
          Report
        </a>
      </div>
      <hr class="line" />
      <!-- End of sample content for demonstration purposes. -->
    </div>
    <button
      mat-stroked-button
      style="position: absolute; left: 45px; bottom: 100px"
    >
      <a
        href="https://github.com/doanduyhien203/AngularVcsdemo"
        target="_blank"
        rel="noopener"
      >
        Docs & Components</a
      >
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
