.mat-toolbar {
  height: 100%;
}

.example-sidenav-content {

  height: 100%;
  display: flex;
  justify-content: center;
  min-height: 1000px;
}

.example-sidenav {
  color: #B6B9C8;
  padding: 20px;

  
}
.example-sidenav:hover span{
  color: #FFFFFF;
}

.log-out {
  position: absolute;
  right: 50px;

}

.mat-drawer {
  color: #ffac42;
  width: 250px;
  height: 100%;
  background-color: #5d99c6;

}

.mat-toolbar {
  background-color: #90caf9;
  padding: 0px;
  margin: 0cm;
  border-bottom: 0.5px solid #f5e8e8 ;



}

.tool-side {
  color: #f47b00;
  display: flex;
  padding: 15px;
  width: 250px;
  height: 100%;
  background-color: #5d99c6;
  border-bottom: 1px solid ;
  cursor: pointer;
}
.side-title{
  
  margin-left: 30px;

}
.side-title:hover span{
  color:#ba4c00;
}

.container-page {
  
  height: 70px;
  margin: 0px;
}
.user-edit{
  margin-left: 1320px;
}
.user-edit:hover{
  color: #ba4c00;
}
.log-out:hover{
  color: #ba4c00;
}
