::ng-deep .dialog{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden !important;
    
} 
.mat-form-field{
    width: 250px ;
}
.mat-dialog-content{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column; 
  
   
}
