<div class="dialog">
<div class="success-checkmark">
    <div class="check-icon">
      <span class="icon-line line-tip"></span>
      <span class="icon-line line-long"></span>
      <div class="icon-circle"></div>
      <div class="icon-fix"></div>
    </div>
  </div>
 <h4>Form has been successfully submitted</h4>
  <div mat-dialog-actions>
    <button mat-stroked-button color="primary" style="font-size:18px ;" cdkFocusInitial [mat-dialog-close]="true"  >
      OK, got it !
    </button>
  </div>
</div>