<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt"></div>
        <form class="login100-form validate-form" [formGroup]="registerForm" autocomplete="off" (ngSubmit)="formSubmit$.next(true)">
          <title class="login100-form-title">Register</title>
          <div class="wrap-input100">
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username" formControlName="username" />
            </mat-form-field>
            <!--    <pre>{{ registerForm.get("username")?.errors | json }}</pre>-->
          </div>
          <div class="wrap-input100">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" formControlName="password" />
            </mat-form-field>
            <!--     <pre>{{ registerForm.get("password")?.errors | json }}</pre>-->
          </div>
          <div class="wrap-input100">
            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword" />
            </mat-form-field>
            <!--    <pre>{{ registerForm.get("confirmPassword")?.errors | json }}</pre>-->
          </div>
          <div class="container-login100-form-btn">
            <button class="login100-form-btn" mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid" routerLink="/sign-in-rf">
              Register
            </button>
          </div>
          <pre>{{ registerForm.value | json }}</pre>
          <pre> {{ registerForm.errors | json }} </pre>
        </form>
      </div>
    </div>
  </div>
