<div mat-dialog-content>
  <div class="basic-container">

    <mat-form-field>
      <input matInput placeholder="Account_Number" [(ngModel)]="data.account_number">
    </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Weight" [(ngModel)]="data.weight">
    </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Symbol" [(ngModel)]="data.symbol">
    </mat-form-field>
    
    
    </div>
  </div>
  
  
  

  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Okay</button>
  </div>
  