<div mat-dialog-content>
  <div class="basic-container">

    <mat-form-field>
      <input matInput placeholder="Account_Number" [(ngModel)]="data2.account_number">
    </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Weight" [(ngModel)]="data2.balance">
    </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Symbol" [(ngModel)]="data2.age">
    </mat-form-field>
    
    
    </div>
  </div>
  
  
  

  <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Close</button>
  </div>
  